target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
*.classpath
*.project
coclogger/.settings/org.eclipse.jdt.core.prefs
coclogger/.settings/org.eclipse.m2e.core.prefs
